<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.device.security.analytics.androidsecurityanalyticspro"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/DarkBlueHolo"
        android:versionCode="3"
        android:versionName="Release 3">

        <!-- <activity -->
        <!-- android:name="com.device.security.analytics.androidsecurityanalytics.AppDetailAction" -->
        <!-- android:label="@string/app_name" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.device.security.analytics.androidsecurityanalytics.ShowPermissionsActivity"
            android:label="Application Permissions" >
        </activity>
        <activity
            android:name="com.device.security.analytics.androidsecurityanalytics.AppResultsActivity"
            android:label="Application Security Results" >
        </activity>
        <activity
            android:name="com.device.security.analytics.androidsecurityanalytics.AppDetailAction"
            android:label="Application Security Results" >
        </activity>
        <activity
            android:name="com.device.security.analytics.androidsecurityanalytics.FrontPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.device.security.analytics.androidsecurityanalytics.DeviceSecurityActivity"
            android:label="@string/title_activity_device_security" >
        </activity>
        <activity android:name="com.device.security.analcom.device.security.analytics.androidsecurityanalytics.ResultExportActivity" >
        </activity>
        
        <activity android:name="com.device.security.analytics.androidsecurityanalytics.FaqActivity"/>

        <receiver android:name="com.device.security.analytics.androidsecurityanalytics.receivers.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
